<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="au.edu.uts.vibepocket.hardware.micro.Control"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="au.edu.uts.vibepocket.micro.START" />
                <action android:name="au.edu.uts.vibepocket.micro.STOP" />
                <action android:name="au.edu.uts.vibepocket.micro.PULSE" />
                <action android:name="au.edu.uts.vibepocket.micro.ACT06" />
                <action android:name="au.edu.uts.vibepocket.micro.ACT07" />
                <action android:name="au.edu.uts.vibepocket.micro.ACT08" />
                <action android:name="au.edu.uts.vibepocket.micro.ACT09" />
                <action android:name="au.edu.uts.vibepocket.micro.ACT10" />
                <action android:name="au.edu.uts.vibepocket.micro.ACT12" />
                <action android:name="au.edu.uts.vibepocket.micro.ENCODER_CLOCKWISE" />
                <action android:name="au.edu.uts.vibepocket.micro.ENCODER_COUNTERCLOCKWISE" />
                <action android:name="au.edu.uts.vibepocket.micro.ENCODER_PRESS" />
                <action android:name="au.edu.uts.vibepocket.micro.ENCODER_RELEASE" />
                <action android:name="au.edu.uts.vibepocket.micro.ENCODER_CLICK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
