<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="au.edu.uts.vibepocket.ui.control.BoardTestActivity"
            android:exported="false" />
        <activity
            android:name="au.edu.uts.vibepocket.ui.control.LandscapeBoardTestActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <receiver
            android:name="au.edu.uts.vibepocket.hardware.hid.Control"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="au.edu.uts.vibepocket.hid.REASONING" />
                <action android:name="au.edu.uts.vibepocket.hid.MODEL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
