<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <application>
        <service
            android:name="au.edu.uts.vibepocket.hardware.micro.Peripheral"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        <receiver
            android:name="au.edu.uts.vibepocket.hardware.Restore"
            android:exported="false"
            android:process=":recovery" />
        <activity
            android:name="au.edu.uts.vibepocket.hardware.Return"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:process=":recovery"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
